
#///////////////////////////
# Cocos Creator 3D Project
#///////////////////////////
.creator/
library/
temp/
local/
build/
profiles/
extensions/*
!extensions/multiple-tab
native
#//////////////////////////
# NPM
#//////////////////////////
node_modules/

#//////////////////////////
# VSCode
#//////////////////////////
.vscode/

#//////////////////////////
# WebStorm
#//////////////////////////
.idea/